# Build directories and artifacts
build/
cmake-build-*/
.cxx/
.gradle/
.idea/

# Downloaded archives and extracted source code
*.tar.gz
*.zip
curl-*/
openssl/
libssh/

# Compiled libraries (if you want to exclude them and build via script)
# libs_dist/
# *.so
# *.a

# System files
.DS_Store

# Logs
*.log

# Secrets and Keys
*.pem
*.key
*.jks
*.keystore

# Test tools
mock_server.py